# Ignore node_modules directory in root, frontend, and backend
node_modules/

# Ignore environment files
# .env

# Ignore any build artifacts or logs
/build/
*.log
.env
# Optionally, ignore IDE or editor-specific files (e.g., for VSCode)
.vscode/
